WCFBiblio/ConsoleApp1/Connected Services/LibraryGuest/WCFBookLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFBookLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFBookLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsRented" type="xs:boolean" />
      <xs:element minOccurs="0" name="_dude" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="_signature" type="xs:int" />
      <xs:element minOccurs="0" name="_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="SingleAuthor" type="xs:boolean" />
      <xs:element minOccurs="0" name="_authors" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="BookIsAlreadyRentedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookIsAlreadyRentedFault" nillable="true" type="tns:BookIsAlreadyRentedFault" />
  <xs:complexType name="NoSuchBooksFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoSuchBooksFault" nillable="true" type="tns:NoSuchBooksFault" />
</xs:schema>